*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration:none;}
ul li{list-style:none;}
h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight:400;}
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700;800&display=swap');



.wrapper {
    background-color: #f4fcff;
    font-family: sans-serif;
    background-image: url(./../../images/bg-2-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100%;
    @media (max-width: 768px) {
        background-color: #f4fcff;
        background-image: none;
    }
}

* {
    box-sizing: border-box;
}

.header {
    position: relative;
    padding: 35px 0 0 0;
    width: 100%;
    &_container {
        max-width: 1130px;
        height: 45px;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto 90px auto;
        @media (max-width: 768px) {
            padding: 0 20px;
            margin: 0 auto 80px auto;
        }
    }

    &_column {
        flex: 0 1 auto;
        margin: 0 0 35px 0;
        @media (max-width: 768px) {
            margin: 0 0 20px 0;
        }
    }

    &_logo {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &_title {
        color: #2f4b6e;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 30px;
        text-align: center;
        background-color: #f4fcff;
        @media (max-width: 768px) {
            font-size: 25px;
        }
    }
}
.logo {

    &_image {
        flex: 0 0 37px;
        margin: 0 8px 0 0;
        max-width: 100%;
        @media (max-width: 320px) {
            margin: 0 5px 0 0;
        }
    }
    &_text {
        color: #2f4b6e;
        font-family: 'Nunito', sans-serif;
        font-weight: 800;
        font-size: 30px;
    }
}



.quiz-container {
    margin: 0 auto 0 auto;
    max-width: 700px;
    min-height: 497px;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 25px 25px 25px 25px; 
    border: 2.2px solid #009687b6;
    @media (max-width: 768px) {
        margin: 0 auto 0 auto;
    }
    @media (max-width: 405px) {
        margin: 15px 0 0 0;
    }
    @media (max-width: 405px) {
        margin: 15px 0 0 0;
    }
}


.question-number h3 {
    color: darkcyan;
    border-bottom: 1px solid #ccc;
    margin: 0;
    padding-bottom:  10px;
}

#question {
    font-size: 24px;
    color: #000000;
    padding: 15px 0;
    margin-bottom: 10px;
}

.options {
    margin-bottom: 15px;
}

.options div {
    background-color: #cccccc;
    font-size: 16px;
    color: #000000;
    margin-bottom: 10px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

.options div:hover {
    background-color: #ccccccaf;
}

.options div.correct {
    color: #ffffff;
    background-color: green;
}

.options div.wrong {
    color: #ffffff;
    background-color: red;
}

.options div.disabled {
    pointer-events: none;
}

.button #btn-next{
    padding: 10px 50px;
    background-color: darkcyan;
    font-size: 18px;
    color: #ffffff;
    border: none; 
    border-radius: 5px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    margin-bottom: 15px;
}

.button #btn-next:hover{
    background-color: #009687b6;
}

#answers-tracker {
    border-top: 1px solid #cccccc;
    padding-top: 15px;
}

#answers-tracker div{
    height:  40px;
    width: 40px;
    background-color: #cccccc;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
}

#answers-tracker div.correct {
    background-color: green;
}

#answers-tracker div.wrong {
    background-color: red;
}

.quiz-over-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 10;
    display: none;
    align-items: center;
    justify-content: center;
}

.quiz-over-modal.active {
    display: flex;
}

.quiz-over-modal .content {
    background-color: darkcyan;
    padding: 30px;
    border-radius: 10px;
    flex-basis: 700px;
    max-width: 700px;
    color: #ffffff;
    text-align: center;
}

.quiz-over-modal .content h1 {
    font-size: 36px;
    margin: 0 0 20px;
}

.quiz-over-modal .content button, .quiz-over-modal .content a  {
    margin: 20px 0 0 0;
    padding: 15px 50px;
    border: none;
    background-color: #ff9800;
    transition: all .2s ease-in-out;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
    @media (max-width: 405px) {
        font-size: 14px;
        font-weight: 700;
    }
}

.quiz-over-modal .content button:hover{
    background-color: #ff9900b4;
}


.hidden{
    display: none;
}



